
.ucare {
  margin: 1rem;
}

.ucare .upload {
  background-color: #ececec;
  padding: 1rem;
  margin-bottom: 1rem;
}

.no-file {
  text-align: center;
  font-size: 3rem;
}

.uc-list-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  padding: 1rem;
}

.uc-list-images > li.item {
  display: flex;
  flex-direction: column;
}

.uc-list-images > li.item .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #cfcfcf;
  background-color: #cfcfcf;
}

.uc-list-images > li.item .header .name {
  word-break: break-all;
}

.uc-list-images > li.item .header .actions {
  display: flex;
  align-items: center;
}

.uc-list-images > li.item .header .actions .icon {
  margin-right: 5px;
  cursor: pointer;
}

.uc-list-images > li.item .file {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #ececec;
}

.uc-list-images > li.item .file > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.uc-ip-preview {
  overflow: auto;
}

.uc-ip-actions-grp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #e5e5e5;
  padding: 10px;
}

.uc-ip-actions {
  padding: 0.3rem;
}

.uc-ip-actions button {
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  background-color: cornflowerblue;
  color: #ffffff;
}

.modal-body {
  padding: 0;
}

.dot-mask {
  position: absolute;
  background-color: #00800096;
  border-radius: 5px;
}

@media (min-width: 576px) {
  .modal-dialog {
      max-width: 1300px;
      margin: 1.75rem auto;
  }
}

